{% extends 'index.html' %}
{% block content %}
{% load static %}


<!-- <header class="header">
    <a href="#" class="logo">Chetram</a>
    <nav class="nav-items">
      <a href="#">Home</a>
      <a href="#">About</a>
      <a href="#">Contact</a>
    </nav>
</header> -->
<nav class="navbar navbar-expand-lg navbar-light" id="navbar">
  <div class="container-fluid" id="topofpage">
    <h4 id="fh5co-logo"><b style="color: white;">Chetram Bassit</b></h4>&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto navbar-right top-nav-bar"> 
        <!-- <li class="nav-item">
          <a class="nav-link" target="_blank" href="https://github.com/chetrambassit121">GitHub</a>
        </li>   
        <li class="nav-item">
          <a class="nav-link" target="_blank" href="https://www.linkedin.com/in/chetram-bassit-4335a4202/">LinkedIn</a>
        </li>     
        <li class="nav-item">
          <a class="nav-link" target="_blank" href="https://docdro.id/iuekxZW">PDF Resume</a>
        </li>   -->
        <li class="nav-item">
          <a class="nav-link" href="#contact">Contact</a>
        </li>  
        <li class="nav-item">
          <a class="nav-link" href="#skills">Skills</a>
        </li>   
        <li class="nav-item">
          <a class="nav-link" href="#projects">Projects</a>
        </li>     
        <li class="nav-item">
          <a class="nav-link" href="#about">About</a>
        </li> 
        <!-- <li class="nav-item nav-item-quote">
          <small class="nav-link-quote">"Where there's a code, there's a way!"</small>
        </li> -->
      </ul>
    </div>
  </div>
</nav>
<br>

<main class="fade-in-image" >
  <div class="fixed-header">
    <div class="intro rounded-circle">
      <h2 style="color: rgb(166, 238, 50);">Full Stack Web Developer</h2>
      <!-- <p>Fully engaged in all aspects of developing clean coded, efficient, user based websites.</p> -->
      <p class="header-quote">Bringing thoughts and ideas <br> Into reality through coding</p>
      <div class="header-quote">
        <!-- <h5>
          <a><img style="background-color: white;" class="header-logos" src="{% static 'images/GitHub.png' %}"></a><a class="nav-link" target="_blank" href="https://github.com/chetrambassit121">GitHub</a>
          <a><img class="header-logos" src="{% static 'images/linkedin.png' %}"></a><a class="nav-link" target="_blank" href="https://www.linkedin.com/in/chetram-bassit-4335a4202/">LinkedIn</a>
          <a class="nav-link" target="_blank" href="https://docdro.id/iuekxZW">PDF Resume</a>
        </h5> -->
        <h6>
          <a target="_blank" href="https://github.com/logos"><img style="background-color: white;" class="logo3"  src="{% static 'images/GitHub.png' %}"></a> <a target="_blank" href="https://github.com/chetrambassit121">chetrambassit121</a> <br><br>
          <a target="_blank" href="https://www.shutterstock.com/image-photo/valencia-spain-may-15-2017-linkedin-1376872499"><img class="logo3"  src="{% static 'images/linkedin.png' %}"></a> <a target="_blank" href="https://www.linkedin.com/in/chetram-bassit-4335a4202/">Chetram Bassit</a><br><br>
          <a target="_blank" href="https://www.shutterstock.com/image-vector/resume-icon-477290071"><img class="logo3"  src="{% static 'images/resume-icon.webp' %}"></a><a target="_blank" href="https://docdro.id/iuekxZW"> PDF Resume</a>
        </h6>
      </div>
      <small class="nav-link-quote">"Where there's a code, there's a way!"</small>
    </div>
  </div>

  <div class="flexbox-container contact">
    <div class="flexbox-item">
      <div class="row text-center top-header">
        <h3 id="contact">Contact</h3>
        <h6>
          <a target="_blank" href="https://www.shutterstock.com/image-vector/email-icon-envelope-mail-services-contacts-1379676980"><img class="logo3" src="{% static 'images/email.webp' %}"></a> Email: chetrambassit121@gmail.com 
        </h6>
        <h6>
          <a target="_blank" href="https://www.shutterstock.com/image-vector/smartphone-cellphone-illustration-vector-icon-1923054857"><img class="logo3" src="{% static 'images/cellphone.webp' %}"></a> Cellphone: +1(646)-853-3016
        </h6>
      </div>
    </div>
  </div>
  <hr>
 
  <div class="flexbox-container" id="PE"><div class="flexbox-item"><h3 id="skills">Technical Skills</h3></div></div>
  <div class="flexbox-container">
    <div class="flexbox-item1 flexbox-item-2">
        <div class="padding">
            <div class="list-padding">
                <h5>Backend</h5><hr>
                <ul>
                  <li><a target="_blank" href="https://www.python.org/community/logos/"><img class="logo" src="{% static 'images/python-logo.png' %}"></a> Python</li>
                  <li><a target="_blank" href="https://static.djangoproject.com/img/logos/django-logo-negative.png"><img class="logo" src="{% static 'images/django-logo.png' %}"></a><br>Django Web Framework </li>
                  <li><a target="_blank" href="https://www.django-rest-framework.org/"><img style="background-color: white;" class="logo" src="{% static 'images/drf.png' %}"></a><br>Django Rest Framework </li>
                  <li><a target="_blank" href="https://iconscout.com/contributors/icon-mafia"><img style="background-color: white;" class="logo" src="{% static 'images/flask.png' %}"></a><br>Flask Web Framework </li>
                </ul><br>
            </div>
        </div>
    </div>
    <div class="flexbox-item1 flexbox-item-2">
        <div class="padding">
            <div class="list-padding">
                <h5>Frontend</h5><hr>
                <ul>
                    <li><a target="_blank" href="https://www.freepnglogos.com/pics/html5-logo"><img class="logo1 html" src="{% static 'images/html5-logo.png' %}"></a>    HTML</li>
                    <li><a target="_blank" href="https://3wa.fr/technologies/langages/css/attachment/logo-css/"><img class="logo2" src="{% static 'images/logo-css.png' %}"></a>    CSS</li>
                    <li><a target="_blank" href="https://www.freelogovectors.net/bootstrap-logo/"><img class="logo2" src="{% static 'images/bootstrap.png' %}"></a>    Bootstrap</li>
                </ul>
            </div>
        </div>
    </div>
  
    <div class="flexbox-item1 flexbox-item-2">
        <div class="padding">
            <div class="list-padding">
                <h5>Other Lanuages</h5><hr>
                <ul>
                    <li><a target="_blank" href="https://seeklogo.com/vector-logo/330541/javascript"><img class="logo1 html" src="{% static 'images/javascript-logo.png' %}"></a>   Javascript</li>
                </ul>
                <h5>Text Editors</h5><hr>
                <ul>
                    <li><a target="_blank" href="https://iconscout.com/icon/sublime-text-3521747"><img class="logo2" src="{% static 'images/sublime-text.png' %}"></a>   Sublime Text</li>
                    <li><a target="_blank" href="https://iconscout.com/icon/visual-studio-code-1868941"><img class="logo2" src="{% static 'images/visual-studio-code.png' %}"></a> Visual Studio Code</li>
                    <li><a target="_blank" href="https://iconscout.com/icon/pycharm-2"><img class="logo2" src="{% static 'images/pycharm.png' %}"></a>   Pycharm</li>
                </ul>
            </div>
        </div>
    </div>
  </div><hr>

  <div class="flexbox-container" id="PE"><div class="flexbox-item"><h3 id="projects">Projects</h3></div></div>
  <div class="flexbox-container">
    <div class="flexbox-item1 flexbox-item-2">
      <div class="padding">
        <div class="list-padding">
          <h5>Power-Building</h5>
          <a target="_blank" href="https://power-building.herokuapp.com"><img class="image2" src="{% static 'images/power-building.png' %}"></a>
          <h5><a target="_blank" href="https://github.com/chetrambassit121/power-building">GitHub</a></h5>
          <p>Informational Fitness User Based website with a Social Feed. Post your latest workouts! Connect with other Users!</p> 
        </div>
      </div>
    </div>
    <div class="flexbox-item1 flexbox-item-2">
      <div class="padding">
        <div class="list-padding">
          <h5>NY for Choice Social</h5>
          <a target="_blank" href="https://chets-socialnetwork2021.herokuapp.com"><img class="image2" src="{% static 'images/nyforchoicesocial.png' %}"></a>
          <h5><a target="_blank" href="https://github.com/chetrambassit121/nyforchoice_social">GitHub</a></h5>
          <p>Platform for the Residents of the State of New York. Discuss and execute social changes on a local level.</p>
        </div>
      </div>
    </div>
    <div class="flexbox-item1 flexbox-item-2">
      <div class="padding">
        <div class="list-padding">
          <h5>chets-socialnetwork2021</a></h5>
          <a target="_blank" href="https://chets-socialnetwork2021.herokuapp.com"><img class="image2" src="{% static 'images/chetssocialnetwork2021.png' %}"></a>
          <h5><a target="_blank" href="https://github.com/chetrambassit121/ChetsSocialNetwork2021">GitHub</a></h5>
          <p>Start up social platform. Add your own theme and begin your own social platform!</p>
        </div>
      </div>
    </div>
  </div><hr>

  <div class="flexbox-container" style="background-color: black;" id="about">
    <!-- <div class="flexbox-item1 flexbox-item-2"> -->
      <div class="padding">
        <div class="list-padding">
          <h2>About</h2>
          <p>
            &nbsp;&nbsp;&nbsp;&nbsp;Being a Full Stack Web Developer, I have the necessary skills to create and deploy projects based on the clients criteria. 
            Fully engaged in all aspects of developing clean coded, efficient, user-based websites. 
            Clear and consistent communication with other developers for maximum efficiency with development. 
            Understanding of backend to frontend relationship engaging multiple languages.
            <br><br>
            &nbsp;&nbsp;&nbsp;&nbsp;Bringing thoughts and ideas into reality through coding is an extremely satisfying feeling. 
            From a young age, I have always aspired to develop or create my own unique ideas or broadcast my thoughts and philosophies. 
            But how can one realistically do this? Of course, a great answer for my question is Software Development also known as coding. 
            One may use the amazing science of coding to revolutionize entire industries, impacting the lives of many. 
            Software Development has and will continue to create new ideas and improve existing ones. It is my belief that Software Development has changed this world for the better!
          </p>
        </div>
      </div>
    <!-- </div> -->
  </div>
    
</main>
{% endblock %}

















    <!-- <div class="achievements">
      <div class="work">
        <i class="fas fa-atom"></i>
        <p class="work-heading">Projects</p>
        <p class="work-text">I have worked on many projects and I am very proud of them. I am a very good developer and I am always looking for new projects.</p>
      </div>
      <div class="work">
        <i class="fas fa-skiing"></i>
        <p class="work-heading">Skills</p>
        <p class="work-text">I have a lot of skills and I am very good at them. I am very good at programming and I am always looking for new skills.</p>
      </div>
      <div class="work">
        <i class="fas fa-ethernet"></i>
        <p class="work-heading">Network</p>
        <p class="work-text">I have a lot of network skills and I am very good at them. I am very good at networking and I am always looking for new network skills.</p>
      </div>
    </div> -->